<h2>Lista de categorias:</h2>
<br>
<div class="card">
  <div class="card-body">
{{#each categorias}}

<a href="/categoria/filter/{{slug}}">{{slug}}</a><br>

{{else}}

<h1> Não existem categorias cadastradas</h1>

<<<<<<< HEAD
{{/each}}
=======
{{/each }}
>>>>>>> e2586212f68fdbd2028987f3733f1ce38822876e
  </div>
</div>