<h2>Detalhes da Postagem</h2>
<hr>
<a href="/usuario/add-form"><button class="btn btn-success">Criar Usuario</button></a>
<hr>  
<div class="card">
  <div class="card-body">
    <h4>{{usuarios.nome}}</h4>
    <br>
    <small>ID: {{usuarios._id}}</small>
    <br>
    <small>Email: {{usuarios.email}}</small>
    <br>
    <small>Data de criação: {{usuarios.data}}</small>
    <hr>
    <a href="/usuario"><button class="btn btn-danger ml-4">Voltar</button></a>
  </div>
</div>